#encoding UTF-8
## +-------------------------------------------------------------------------+
## |    NOAA-%Y-%m.txt.tmpl   Template for "NOAA month summary" text file    |
## +-------------------------------------------------------------------------+
## | Original version by Tom Keffer in the weewx Standard skin               |
## | See: https://github.com/weewx/weewx/tree/master/skins/Standard/NOAA     |
## +-------------------------------------------------------------------------+
#set $YM="%Y %m"
#set $D=" %d"
#set $M=" %m"
#set $Time=" %H:%M"
#set $NODAY=" N/A"
#set $Temp="%6.1f"
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $Count="%6d"
#set $NONE="   N/A"
#if $unit.unit_type_dict.group_rain == "mm"
#set $Rain="%6.1f"
#else
#set $Rain="%6.2f"
#end if
                   MESACNY KLIMATOLOGICKY PREHLAD za $month_name $year_name


NAZOV: Rajecke Teplice
#if $Extras.Appearance.show_coordinates == "yes"
NADMORSKA VYSKA: $station.altitude    SIRKA: $station.latitude[0]-$station.latitude[1] $station.latitude[2]    DLZKA: $station.longitude[0]-$station.longitude[1] $station.longitude[2]
#else
NADMORSKA VYSKA: $station.altitude
#end if


            TEPLOTA (C), ZRAZKY ($unit.label.rain.strip()), VIETOR ($unit.label.windSpeed.strip())

                                                 PRIEM.      
      PRIEM. MAX.          MIN.                  RYCHL.                               
 DEN  TEPL.  TEPL. CAS     TEPL. CAS     ZRAZKY  VETRA NARAZ CAS
-------------------------------------------------------------------
#for $day in $month.days
#if $day.outTemp.count.raw or $day.rain.count.raw or $day.wind.count.raw
$day.dateTime.format($D, add_label=False) $day.outTemp.avg.format($Temp,$NONE,add_label=False) $day.outTemp.max.format($Temp,$NONE,add_label=False) $day.outTemp.maxtime.format($Time,add_label=False) $day.outTemp.min.format($Temp,$NONE,add_label=False) $day.outTemp.mintime.format($Time,add_label=False) $day.rain.sum.format($Rain,$NONE,add_label=False) $day.wind.avg.format($Wind,$NONE,add_label=False) $day.wind.max.format($Wind,$NONE,add_label=False) $day.wind.maxtime.format($Time,add_label=False)
#else
$day.dateTime.format($D)
#end if
#end for
-------------------------------------------------------------------
    $month.outTemp.avg.format($Temp,$NONE,add_label=False) $month.outTemp.max.format($Temp,$NONE,add_label=False)  $month.outTemp.maxtime.format($D,add_label=False)  $month.outTemp.min.format($Temp,$NONE,add_label=False)  $month.outTemp.mintime.format($D,add_label=False)    $month.rain.sum.format($Rain,$NONE,add_label=False) $month.wind.avg.format($Wind,$NONE,add_label=False)  $month.wind.max.format($Wind,$NONE,add_label=False) $month.wind.maxtime.format($D,add_label=False)

